@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

h1{
  font-size: 3rem;
}
.hero {
  background-color: #23424A;
  color: #FFF;
  padding: 100px 0;
}

.hero__text {
  width: 60%;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.hero p {
  margin-bottom: 3em;
}
.btn {
  display: inline-block;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #23424A;
}