/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
      Solution : Create a new intro div to apply the background and padding.
      The original container class will be applied to both pieces of text. Thus, they both will have the same
      width and will be centered.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.

      The max width property on .container ensures this
      Note how we made it a lil bit structured by not creating a new class for the white bg text
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.intro {
  background: #23424a;
  color: white;
  padding: 50px 0;

}

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto; 
}

.intro-content {
  width: 50%;
}